<!-- <!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント作成完了</title>
</head>

<body>
    <div>
        <h1>漫画レンタル</h1>
        <h2>アカウントの新規作成</h2>

        <p>アカウントが作成されました。</p>

        <div>
            <a href="loginpage.html">アカウントのログインはこちら</a>
        </div>

        <p>※漫画レンタルに必要なサブスクリプションへの加入はログイン後に行うことができます。</p>
    </div>
</body>

</html> -->

<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録完了</title>
</head>

<body>
    <div>
        <h1>アカウント登録完了</h1>
        <p th:if="${registrationSuccess}" th:text="${registrationSuccess}"></p>
        <p th:unless="${registrationSuccess}">アカウントの作成が完了しました。</p>
        <br>
        <a th:href="@{/login/loginpage}">ログインページへ</a>
    </div>
</body>

</html>