<!-- <!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウントの新規作成</title>
</head>

<body>
    <div>
        <h1>漫画レンタル</h1>
        <h2>アカウントの新規作成</h2>
        <form>
            <div>
                <input type="text" placeholder="名前">
            </div>
            <div>
                <input type="text" placeholder="メールアドレス">
            </div>
            <div>
                <input type="password" placeholder="パスワード">
            </div>
            <div>
                <input type="password" placeholder="パスワード再入力">
            </div>
            <button type="submit">登録</button>
        </form>

        空欄があれば「すべての項目を入力してください。」
        パスワードが一致しなければ「パスワードが一致しません。」
        登録ボタンを押したときにこのような文字を表示する

        <div>
            <a href="loginpage.html">アカウントのログインはこちら</a>
        </div>

        <p>※漫画レンタルに必要なサブスクリプションへの加入はログイン後に行うことができます。</p>
    </div>
</body>

</html> -->

<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント新規作成</title>
</head>

<body>
    <div>
        <h1>漫画レンタル</h1>
        <h2>アカウントの新規作成</h2>

        <p th:if="${createAccountError}" th:text="${createAccountError}" style="color: red;"></p>

        <form th:action="@{/account/register}" th:object="${createAccountForm}" method="post">
            <div>
                <label for="name">名前</label><br>
                <input type="text" id="name" th:field="*{name}" placeholder="名前" required>
            </div>
            <div>
                <label for="email">メールアドレス</label><br>
                <input type="email" id="email" th:field="*{email}" placeholder="メールアドレス" required>
            </div>
            <div>
                <label for="password">パスワード</label><br>
                <input type="password" id="password" th:field="*{password}" placeholder="パスワード" required>
            </div>
            <div>
                <label for="passwordConfirm">パスワード再入力</label><br>
                <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" placeholder="パスワード再入力"
                    required>
            </div>
            <button type="submit">登録</button>
        </form>

        <div>
            <a th:href="@{/login/loginpage}">アカウントのログインはこちら</a>
            <a href="before_reset_password.html">パスワードを忘れた方はこちら</a>
            <a href="#">お問い合わせフォームはこちら</a>
        </div>
        <p>※漫画レンタルに必要なサブスクリプションへの加入はログイン後に行うことができます。</p>
    </div>
</body>

</html>