<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>トップページ - 漫画レンタル</title>
</head>

<body>
    <h1>漫画レンタルへようこそ！</h1>

    <nav>
        <a th:href="@{/login/loginpage}">ログインはこちら</a> |
        <a th:href="@{/account/create}">アカウント新規作成はこちら</a> |
        <a th:href="@{/ranking}">漫画ランキングページはこちら</a>
    </nav>

    <h2>今月の人気ランキング</h2>

    <ol>
        <li th:each="comic, stat : ${topComics}">
            <img th:src="@{/comicimage/{img}(img=${comic.comicImage})}" alt="表紙画像" width="80">
            <p>
                <strong th:text="${stat.count} + '位:'"></strong>
                <span th:text="${comic.title}"></span> -
                <span th:text="${comic.author}"></span><br>
                貸出回数：<span th:text="${comic.rentaltimes}"></span> 回
            </p>
        </li>
    </ol>

</body>

</html>
