<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>漫画一覧</title>
</head>
<body>
<h1>漫画一覧</h1>
<h2>買い物かごページへ</h2>
<table>
    <thead>
        <th>タイトル</th>
        <th>著者</th>
        <th>ジャンル</th>
        <th>漫画個別ページへ</th>
        <th>表紙</th>
        
    <tbody>
        
            <td>タイトル</td>
            <td>著者</td>
            <td>ジャンル</td>
            <td>漫画個別ページへ</td>
            <td>表紙</td>
    </tbody>
</table>
</body>
</html>