<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>読む - 漫画レンタル</title>
    <link rel="stylesheet" href="/CSS/comicrental.css">
<style>
.read-link {
    padding: 6px 12px;
    background-color: #E64545;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
}
.read-link:hover {
    background-color: #bf3939;
}
</style>

</head>
<body>
    <div class="header-section">
        <h1>漫画レンタル</h1>
    </div>
<h1 class="title" th:text="'『' + ${comic.title} + '』を読む'">タイトル</h1>

<div style="text-align: center;">
    <div th:each="i : ${#numbers.sequence(1, 10)}">
        <img th:src="${comic.comicImage}" alt="漫画ページ" style="width: 50%; margin-bottom: 20px;">
    </div>
</div>
<div style="margin: 30px 0; text-align: center;">
<a th:href="@{/rental/status}" class="read-link">レンタル状況へ戻る</a>
</div>
<div class="footer-section">
        <h4>ComicRental(solekia@teamB)</h4>
</div>
</body>
</html>

