.header-section {
  /*border-bottom: 3px solid white;*/
  background-color: #E64545;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-family: "Meiryo UI";
  color: black;
  padding: 13px;
  text-align: center;
}

.header-section h1 {
  font-size: 1.8em;
  margin: 0;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 0px #000, 1px 2px 0px #000, -1px -1px 0px #000, -1px -1px 0px #000, 2px -1px 0px #000, 1px 0px 0px #000, 0px 1px 0px #000, -1px 0px 0px #000, 0px -1px 0px #000, 2px 2px 0px #000;
}

.header-section a {
  font-size: 1em;
  text-align: center;
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.header-section a:hover {
  font-size: 1em;
  margin: 0;
  color: blue;
}

.footer-section {
  background-color: #E64545;
  font-family: "Meiryo UI";
  color: black;
  padding: 13px;
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

.footer-section h4 {
  font-size: 1em;
  color: #fff;
  text-shadow: 1px 1px 0px #000, 1px 2px 0px #000, -1px -1px 0px #000, -1px -1px 0px #000, 2px -1px 0px #000, 1px 0px 0px #000, 0px 1px 0px #000, -1px 0px 0px #000, 0px -1px 0px #000, 2px 2px 0px;
}

body {
  background-color: white;
  font-family: "Meiryo UI";
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #E64545;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #000;
  transform-origin: center;
  margin: 0 auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 2.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
}

button.btn-border {
  margin-bottom: 12px;
  padding: 10px;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  border: 2px solid #000;
  background-image: -webkit-repeating-linear-gradient(135deg,
      #000,
      #000 1px,
      transparent 2px,
      transparent 5px);
  background-image: repeating-linear-gradient(-45deg,
      #000,
      #000 1px,
      transparent 2px,
      transparent 5px);
  background-size: 7px 7px;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

button.btn-border span {
  position: relative;

  display: block;

  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;

  color: #000;
  border: 2px solid #000;
  border-radius: 0.5rem;
  background: #fff;
}

button.btn-border:hover {
  margin: 0;
  padding: 6px;
  transform: translate(4px, 4px);
  box-shadow: none;
}