<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ホーム</title>
</head>
<body>
    <h1>ホームページ - 人気漫画</h1>

    <div th:if="${#lists.isEmpty(topComics)}">
        <p>人気漫画は現在ありません。</p>
    </div>
    <ul th:if="${not #lists.isEmpty(topComics)}">
        <li th:each="comic : ${topComics}">
            <a th:href="@{'/comic/detail/' + ${comic.comic_id}}">
                <img th:src="${comic.comicImage}" alt="表紙画像" width="80">
                <span th:text="${comic.title}"></span>（<span th:text="${comic.rentaltimes}"></span>回レンタル）
            </a>
        </li>
    </ul>
</body>
</html>
