<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>サブスクリプション加入画面</title>
</head>
<body>
    <h1 th:text="${page.title}">サブスクリプション　加入</h2>
    <h2>シングルプラン　月額８００円　上限３０冊</h2>
    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${successMessage}">
        <p th:text="${successMessage}"></p>
    </div>
    <form action="/subscription/doJoin" method="post">
    <h2>クレジットカード情報</h2>
    <h4>クレジットカード番号</h4>
    <input type="text" name="cardNumber" placeholder="例: 1234-5678-9012-3456" required>
    <h4>使用名義</h4>
    <input type="text" name="cardHolderName" placeholder="例: YAMADA TARO" required>
    <h4>有効期限</h4>
    <input type="text" name="expiryDate" placeholder="例: MM/YY" required>
    <h4>セキュリティコード</h4>
    <input type="password" name="securityCode" placeholder="例: 123" required>

    <button type="submit">加入</button>
</form>

<div th:if="${page.subscribed}">
    <h3>加入済です</h3>
</div>

    <hr>
    <a href="subscription.html">サブスクリプション状況確認画面</a><h5>マイページへ</h5>
</body>
</html>