<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>サブスクリプション状況確認画面</title>
</head>
<body>
    <h1>サブスクリプション状況</h1>
    <h4 class="mypage">会員番号</h4>
    <h4 class="mypage">名前</h4>
    <h4 class="mypage">サブスクリプション状況</h4>
    <h5>マイページへ</h5>
    <hr>
    <h2 class="join">サブスクリプション　加入</h2>
    <button>加入</button>
    <hr>
    <h2 class="Withdrawal">サブスクリプション　退会</h2>
    <button>退会</button>
</body>
</html>