<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更</title>
</head>

<body>
    <div>
        <h1>漫画レンタル</h1>
        <h2>パスワード変更</h2>

        <p>登録されている名前とメールアドレスを入力してください。</p>

        <form>
            <div>
                <input type="text" placeholder="名前">
            </div>
            <div>
                <input type="text" placeholder="メールアドレス">
            </div>
            <button type="submit">確認</button>
        </form>

        <!--DBに登録されている名前とメールアドレスが一致しなければ「登録されていません。」-->
        <!--確認ボタンを押したときにこのような文字を表示する-->

        <div>
            <a href="login.html">アカウントのログインはこちら</a>
            <a href="creat_new_account.html">アカウント新規作成はこちら</a>
        </div>
    </div>
</body>

</html>