<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更</title>
</head>

<body>
    <div>
        <h1>漫画レンタル</h1>
        <h2>パスワード変更</h2>

        <p>新しく設定するパスワードを入力してください。</p>

        <form>
            <div>
                <input type="password" placeholder="新しいパスワード入力">
            </div>
            <div>
                <input type="password" placeholder="新しいパスワード再入力">
            </div>
            <button type="submit">変更する</button>
        </form>

        <!--パスワードが一致しなければ「パスワードが一致しません。」-->
        <!--変更するボタンを押したときにこのような文字を表示する-->

        <div>
            <a href="loginpage.html">アカウントのログインはこちら</a>
            <a href="creat_new_account.html">アカウント新規作成はこちら</a>
        </div>
    </div>
</body>

</html>