<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>レンタル完了</title>
  <link rel="stylesheet" th:href="@{/css/cart.complete.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Nico+Moji&family=RocknRoll+One&family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">

  <!-- ヘッダ-- -->
  <div class="header-section">
    <h1> 漫画レンタル</h1>
  </div>

  <!-- メイン -->
  <div class="container">
    <div class="title-section">
      <h2>レンタル完了</h2>
    </div>

    <div class="summary">
      <p>ご利用ありがとうございます</p>
      <p>閲覧可能期間：<span th:text="${#dates.format(rentalExpire, 'yyyy年MM月dd日')}"></span> まで</p>
      <p>今月のレンタル残数：あと <span th:text="${remainingLimit}"></span> 冊</p>
    </div>

    <div class="button-area">
      <form method="get" th:action="@{/mypage}">
        <button type="submit">マイページへ</button>
      </form>
      <form method="get" th:action="@{/home}">
        <button type="submit">HOMEへ戻る</button>
      </form>
    </div>
  </div>

  <!-- フッター -->
  <div class="footer-section">
    <h4>ComicRental(solekia@teamB)</h4>
  </div>

</div>
</body>
</html>
